$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h2 {
  text-align: left;
}

.conatiner {
  margin: 0 auto;
  align-content: center;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
