$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h2 {
  text-align: left;
}

.container {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
